<mat-form-field>
  <mat-label>Filtro</mat-label>
  <input matInput placeholder="filtre por qualquer campo" (keyup)="filtrar(inputFiltro.value)" #inputFiltro>
</mat-form-field>

<mat-table [dataSource]="dataSource">
  <mat-header-row *matHeaderRowDef="mostrarColunas"></mat-header-row>
  <mat-row *matRowDef="let row; columns: mostrarColunas;"></mat-row>

  <ng-container matColumnDef="Id">
    <mat-header-cell *matHeaderCellDef>Id</mat-header-cell>
    <mat-cell *matCellDef="let item">{{item.id}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="Tipo">
    <mat-header-cell *matHeaderCellDef>Tipo</mat-header-cell>
    <mat-cell *matCellDef="let item">{{item.tipo}}</mat-cell>
  </ng-container>


  <ng-container matColumnDef="Prestador">
    <mat-header-cell *matHeaderCellDef>Prestador</mat-header-cell>
    <mat-cell *matCellDef="let item">{{item.prestador}}</mat-cell>
  </ng-container>


  <ng-container matColumnDef="Agendar">
    <mat-header-cell *matHeaderCellDef>Agendar</mat-header-cell>
        <mat-cell *matCellDef="let item">
            <button mat-icon-button (click)="agendar()">
               <mat-icon>calendar_today</mat-icon>
            </button>
        </mat-cell>
  </ng-container>

<!--  <ng-container matColumnDef="Agendar">-->
<!--    <mat-header-cell *matHeaderCellDef>Agendar</mat-header-cell>-->
<!--    <mat-cell *matCellDef="let item"></mat-cell>-->
<!--      <button mat-icon-button (click)="agendar()">-->
<!--        <mat-icon>calendar_today</mat-icon>-->
<!--      </button>-->
<!--  </ng-container>-->

</mat-table>

<div class="calendario">
<app-gerar-calendario></app-gerar-calendario>
</div>
